autoDeploy: false

# operator will deploy pinned images for each application
imagePinning: false

# pinned images
oci_meta:
  repo: kubearmor
  images:
    kubearmor:
      image: kubearmor
      tag: stable
    kubearmorInit:
      image: kubearmor-init
      tag: stable
    kubearmorRelay:
      image: kubearmor-relay-server
      tag: latest
    kubearmorController:
      image: kubearmor-controller
      tag: latest
    kubearmorSnitch:
      image: kubearmor-snitch
      tag: latest
    kubearmorOperator:
      image: kubearmor-operator
      tag: latest
    kubeRbacProxy:
      image: kube-rbac-proxy
      tag: v0.15.0

# in case if image pinning is disabled
kubearmorOperator:
  name: kubearmor-operator
  image:
    repository: kubearmor/kubearmor-operator
    tag: ""
  imagePullPolicy: IfNotPresent

kubearmorConfig:
  defaultCapabilitiesPosture: audit
  defaultFilePosture: audit
  defaultNetworkPosture: audit
  defaultVisibility: process,network
  enableStdOutLogs: false
  enableStdOutAlerts: false
  enableStdOutMsgs: false
  seccompEnabled: true

# DO NOT CHANGE THIS VALUES 
# changing these values will require code changes with the operator
# these secret names should match with the secrets managed by the operator
tlsSecrets:
  kubearmorCa: kubearmor-ca
  kubearmorClient: kubearmor-client-certs
  relayServer: kubearmor-relay-server-certs
  controllerWebhook: kubearmor-controller-webhook-server-cert