autoDeploy: false

kubearmorOperator:
  name: kubearmor-operator
  image:
    repository: kubearmor/kubearmor-operator
    tag: ""
  imagePullPolicy: IfNotPresent

kubearmorConfig:
  defaultCapabilitiesPosture: audit
  defaultFilePosture: audit
  defaultNetworkPosture: audit
  defaultVisibility: process,network
  enableStdOutLogs: false
  enableStdOutAlerts: false
  enableStdOutMsgs: false
  seccompEnabled: true
