# Default values for kubearmor.
# Declare variables to be passed into your templates.

environment:
  # The target environment to install KubeArmor in. Possible values: generic, GKE, EKS, BottleRocket, k0s, k3s, minikube, microk8s
  name: generic

tls:
  enabled: false  

kubearmorRelay:
  # to enable/disable kubearmor-relay
  enabled: true
  image:
    # kubearmor-init image repo
    repository: kubearmor/kubearmor-relay-server
    # kubearmor-init image tag
    tag: latest
  # kubearmor-init imagePullPolicy
  imagePullPolicy: Always
  # Add environment variables for STDOUT logging
  enableStdoutLogs: "false"
  enableStdoutAlerts: "false"
  enableStdoutMsg: "false"

  tls:
    extraDnsNames: ["localhost"]
    extraIpAddresses: ["127.0.0.1"]
    tlsCertPath: /var/lib/kubearmor/tls
    tlsCertProvider: external
    certSecretName: kubearmor-relay-server-certs
    certVolumeMount:
    - mountPath: /var/lib/kubearmor/tls
      name: kubearmor-relay-certs-secrets
      readOnly: true
    certVolume:
    - name: kubearmor-relay-certs-secrets
      projected:
        defaultMode: 0444
        sources:
        - secret:
            name: kubearmor-relay-server-certs
            items:
            - key: tls.crt
              path: server.crt
            - key: tls.key
              path: server.key
            - key: ca.crt
              path: ca.crt
        - secret:
            name: kubearmor-client-certs
            items:
            - key: tls.crt
              path: client.crt
            - key: tls.key
              path: client.key  


kubearmorInit:
  image:
    # kubearmor-init image repo
    repository: kubearmor/kubearmor-init
    # kubearmor-init image tag
    tag: stable
  # kubearmor-init imagePullPolicy
  imagePullPolicy: Always

kubeRbacProxy:
  image:
    # kube-rbac-proxy image repo
    repository: gcr.io/kubebuilder/kube-rbac-proxy
    # kube-rbac-proxy image tag
    tag: v0.15.0
  # kube-rbac-proxy imagePullPolicy
  imagePullPolicy: Always

kubearmorController:
  name: kubearmor-controller
  # kubearmor-controller replicas
  replicas: 1
  image:
    # kubearmor-controller image repo
    repository: kubearmor/kubearmor-controller
    # kubearmor-controller image tag
    tag: latest
  mutation:
    # kubearmor-controller failure policy
    failurePolicy: Ignore
  # kubearmor-controller imagePullPolicy
  imagePullPolicy: Always

kubearmorConfigMap:
  defaultFilePosture: audit
  defaultCapabilitiesPosture: audit
  defaultNetworkPosture: audit
  visibility: process,network

#volume mounts and volumes
kubearmor:
  image:
    # kubearmor daemonset image repo
    repository: kubearmor/kubearmor
    # kubearmor daemonset image tag
    tag: stable

  # kubearmor daemonset imagePullPolicy
  imagePullPolicy: Always

  # kubearmor daemonset arguments. See `kubearmor --help`
  args: []

  tls:
    tlsCertPath: /var/lib/kubearmor/tls
    tlsCertProvider: self
    caSecretName: kubearmor-ca
    clientCertSecretName: kubearmor-client-certs
    kubearmorCACertVolumeMount:
    - mountPath: /var/lib/kubearmor/tls
      name: kubearmor-ca-secret
      readOnly: true
    kubearmorCACertVolume:
    - name: kubearmor-ca-secret
      projected:
        defaultMode: 0444
        sources:
        - secret:
            name: kubearmor-ca
            items:
            - key: tls.crt
              path: ca.crt
            - key: tls.key
              path: ca.key

  capabilities:
    add:
    - SETUID
    - SETGID
    - SETPCAP
    - SYS_ADMIN
    - SYS_PTRACE
    - MAC_ADMIN
    - SYS_RESOURCE
    - IPC_LOCK
    - CAP_DAC_OVERRIDE
    - CAP_DAC_READ_SEARCH
    drop:
    - ALL

  commonMounts:
  - mountPath: /opt/kubearmor/BPF
    name: bpf

  commonVolumes:
  - emptyDir: {}
    name: bpf

  initMounts:
  - mountPath: /opt/kubearmor/BPF
    name: bpf
  - mountPath: /lib/modules
    name: lib-modules-path
    readOnly: true
  - mountPath: /sys/fs/bpf
    name: sys-fs-bpf-path
  - mountPath: /sys/kernel/security
    name: sys-kernel-security-path
  - mountPath: /sys/kernel/debug
    name: sys-kernel-debug-path
  - mountPath: /media/root/etc/os-release
    name: os-release-path
    readOnly: true
  - mountPath: /usr/src
    name: usr-src-path
    readOnly: true

  volumeMountsGeneric:
    - mountPath: /usr/src
      name: usr-src-path
      readOnly: true
    - mountPath: /lib/modules
      name: lib-modules-path
      readOnly: true
    - mountPath: /sys/fs/bpf
      name: sys-fs-bpf-path
    - mountPath: /sys/kernel/security
      name: sys-kernel-security-path
    - mountPath: /sys/kernel/debug
      name: sys-kernel-debug-path
    - mountPath: /media/root/etc/os-release
      name: os-release-path
      readOnly: true
    - mountPath: /etc/apparmor.d
      name: etc-apparmor-d-path
    - mountPath: /var/run/containerd/containerd.sock
      name: containerd-sock-path
      readOnly: true

  volumeMountsDocker:
    - mountPath: /usr/src
      name: usr-src-path
      readOnly: true
    - mountPath: /lib/modules
      name: lib-modules-path
      readOnly: true
    - mountPath: /sys/fs/bpf
      name: sys-fs-bpf-path
    - mountPath: /sys/kernel/security
      name: sys-kernel-security-path
    - mountPath: /sys/kernel/debug
      name: sys-kernel-debug-path
    - mountPath: /media/root/etc/os-release
      name: os-release-path
      readOnly: true
    - mountPath: /etc/apparmor.d
      name: etc-apparmor-d-path
    - mountPath: /var/run/docker.sock
      name: docker-sock-path
      readOnly: true

  volumeMountsCRIO:
    - mountPath: /usr/src
      name: usr-src-path
      readOnly: true
    - mountPath: /lib/modules
      name: lib-modules-path
      readOnly: true
    - mountPath: /sys/fs/bpf
      name: sys-fs-bpf-path
    - mountPath: /sys/kernel/security
      name: sys-kernel-security-path
    - mountPath: /sys/kernel/debug
      name: sys-kernel-debug-path
    - mountPath: /media/root/etc/os-release
      name: os-release-path
      readOnly: true
    - mountPath: /etc/apparmor.d
      name: etc-apparmor-d-path
    - mountPath: /var/run/crio/crio.sock
      name: crio-sock-path
      readOnly: true

  volumeMountsMicroK8s:
    - mountPath: /usr/src
      name: usr-src-path
      readOnly: true
    - mountPath: /lib/modules
      name: lib-modules-path
      readOnly: true
    - mountPath: /sys/fs/bpf
      name: sys-fs-bpf-path
    - mountPath: /sys/kernel/security
      name: sys-kernel-security-path
    - mountPath: /sys/kernel/debug
      name: sys-kernel-debug-path
    - mountPath: /media/root/etc/os-release
      name: os-release-path
      readOnly: true
    - mountPath: /etc/apparmor.d
      name: etc-apparmor-d-path
    - mountPath: /var/snap/microk8s/common/run/containerd.sock
      name: containerd-sock-path
      readOnly: true

  volumeMountsK0s:
    - mountPath: /usr/src
      name: usr-src-path
      readOnly: true
    - mountPath: /lib/modules
      name: lib-modules-path
      readOnly: true
    - mountPath: /sys/fs/bpf
      name: sys-fs-bpf-path
    - mountPath: /sys/kernel/security
      name: sys-kernel-security-path
    - mountPath: /sys/kernel/debug
      name: sys-kernel-debug-path
    - mountPath: /media/root/etc/os-release
      name: os-release-path
      readOnly: true
    - mountPath: /etc/apparmor.d
      name: etc-apparmor-d-path
    - mountPath: /var/run/containerd/containerd.sock
      name: containerd-sock-path
      readOnly: true

  volumeMountsK3s:
    - mountPath: /usr/src
      name: usr-src-path
      readOnly: true
    - mountPath: /lib/modules
      name: lib-modules-path
      readOnly: true
    - mountPath: /sys/fs/bpf
      name: sys-fs-bpf-path
    - mountPath: /sys/kernel/security
      name: sys-kernel-security-path
    - mountPath: /sys/kernel/debug
      name: sys-kernel-debug-path
    - mountPath: /media/root/etc/os-release
      name: os-release-path
      readOnly: true
    - mountPath: /etc/apparmor.d
      name: etc-apparmor-d-path
    - mountPath: /var/run/containerd/containerd.sock
      name: containerd-sock-path
      readOnly: true

  volumeMountsMinikube:
    - mountPath: /usr/src
      name: usr-src-path
      readOnly: true
    - mountPath: /lib/modules
      name: lib-modules-path
      readOnly: true
    - mountPath: /sys/fs/bpf
      name: sys-fs-bpf-path
    - mountPath: /sys/kernel/security
      name: sys-kernel-security-path
    - mountPath: /sys/kernel/debug
      name: sys-kernel-debug-path
    - mountPath: /media/root/etc/os-release
      name: os-release-path
      readOnly: true
    - mountPath: /etc/apparmor.d
      name: etc-apparmor-d-path
    - mountPath: /var/run/docker.sock
      name: docker-sock-path

  volumeMountsGKE:
    - mountPath: /lib/modules
      name: lib-modules-path
      readOnly: true
    - mountPath: /sys/fs/bpf
      name: sys-fs-bpf-path
    - mountPath: /sys/kernel/security
      name: sys-kernel-security-path
    - mountPath: /sys/kernel/debug
      name: sys-kernel-debug-path
    - mountPath: /media/root/etc/os-release
      name: os-release-path
      readOnly: true
    - mountPath: /media/root/usr
      name: usr-src-path
      readOnly: true
    - mountPath: /etc/apparmor.d
      name: etc-apparmor-d-path
    - mountPath: /var/run/containerd/containerd.sock
      name: containerd-sock-path
      readOnly: true

  volumeMountsBottleRocket:
    - mountPath: /lib/modules
      name: lib-modules-path
      readOnly: true
    - mountPath: /sys/fs/bpf
      name: sys-fs-bpf-path
    - mountPath: /sys/kernel/security
      name: sys-kernel-security-path
    - mountPath: /sys/kernel/debug
      name: sys-kernel-debug-path
    - mountPath: /media/root/etc/os-release
      name: os-release-path
      readOnly: true
    - mountPath: /usr/src
      name: usr-src-path
      readOnly: true
    - mountPath: /etc/apparmor.d
      name: etc-apparmor-d-path
    - mountPath: /var/run/containerd/container.sock
      name: containerd-sock-path
      readOnly: true

  volumeMountsEKS:
    - mountPath: /lib/modules
      name: lib-modules-path
      readOnly: true
    - mountPath: /sys/fs/bpf
      name: sys-fs-bpf-path
    - mountPath: /sys/kernel/security
      name: sys-kernel-security-path
    - mountPath: /sys/kernel/debug
      name: sys-kernel-debug-path
    - mountPath: /media/root/etc/os-release
      name: os-release-path
      readOnly: true
    - mountPath: /usr/src
      name: usr-src-path
      readOnly: true
    - mountPath: /etc/apparmor.d
      name: etc-apparmor-d-path
    - mountPath: /var/run/containerd/containerd.sock
      name: containerd-sock-path
      readOnly: true

  volumesGeneric:
    - hostPath:
        path: /usr/src
        type: Directory
      name: usr-src-path
    - hostPath:
        path: /lib/modules
        type: DirectoryOrCreate
      name: lib-modules-path
    - hostPath:
        path: /sys/fs/bpf
        type: Directory
      name: sys-fs-bpf-path
    - hostPath:
        path: /sys/kernel/security
        type: Directory
      name: sys-kernel-security-path
    - hostPath:
        path: /sys/kernel/debug
        type: Directory
      name: sys-kernel-debug-path
    - hostPath:
        path: /etc/os-release
        type: File
      name: os-release-path
    - hostPath:
        path: /etc/apparmor.d
        type: DirectoryOrCreate
      name: etc-apparmor-d-path
    - hostPath:
        path: /var/run/containerd/containerd.sock
        type: Socket
      name: containerd-sock-path

  volumesDocker:
    - hostPath:
        path: /usr/src
        type: Directory
      name: usr-src-path
    - hostPath:
        path: /lib/modules
        type: DirectoryOrCreate
      name: lib-modules-path
    - hostPath:
        path: /sys/fs/bpf
        type: Directory
      name: sys-fs-bpf-path
    - hostPath:
        path: /sys/kernel/security
        type: Directory
      name: sys-kernel-security-path
    - hostPath:
        path: /sys/kernel/debug
        type: Directory
      name: sys-kernel-debug-path
    - hostPath:
        path: /etc/os-release
        type: File
      name: os-release-path
    - hostPath:
        path: /etc/apparmor.d
        type: DirectoryOrCreate
      name: etc-apparmor-d-path
    - hostPath:
        path: /var/run/docker.sock
        type: Socket
      name: docker-sock-path

  volumesCRIO:
    - hostPath:
        path: /usr/src
        type: Directory
      name: usr-src-path
    - hostPath:
        path: /lib/modules
        type: DirectoryOrCreate
      name: lib-modules-path
    - hostPath:
        path: /sys/fs/bpf
        type: Directory
      name: sys-fs-bpf-path
    - hostPath:
        path: /sys/kernel/security
        type: Directory
      name: sys-kernel-security-path
    - hostPath:
        path: /sys/kernel/debug
        type: Directory
      name: sys-kernel-debug-path
    - hostPath:
        path: /etc/os-release
        type: File
      name: os-release-path
    - hostPath:
        path: /etc/apparmor.d
        type: DirectoryOrCreate
      name: etc-apparmor-d-path
    - hostPath:
        path: /var/run/crio/crio.sock
        type: Socket
      name: crio-sock-path

  volumesMicroK8s:
    - hostPath:
        path: /usr/src
        type: Directory
      name: usr-src-path
    - hostPath:
        path: /lib/modules
        type: DirectoryOrCreate
      name: lib-modules-path
    - hostPath:
        path: /sys/fs/bpf
        type: Directory
      name: sys-fs-bpf-path
    - hostPath:
        path: /sys/kernel/security
        type: Directory
      name: sys-kernel-security-path
    - hostPath:
        path: /sys/kernel/debug
        type: Directory
      name: sys-kernel-debug-path
    - hostPath:
        path: /etc/os-release
        type: File
      name: os-release-path
    - hostPath:
        path: /etc/apparmor.d
        type: DirectoryOrCreate
      name: etc-apparmor-d-path
    - hostPath:
        path: /var/snap/microk8s/common/run/containerd.sock
        type: Socket
      name: containerd-sock-path

  volumesK0s:
    - hostPath:
        path: /usr/src
        type: Directory
      name: usr-src-path
    - hostPath:
        path: /lib/modules
        type: DirectoryOrCreate
      name: lib-modules-path
    - hostPath:
        path: /sys/fs/bpf
        type: Directory
      name: sys-fs-bpf-path
    - hostPath:
        path: /sys/kernel/security
        type: Directory
      name: sys-kernel-security-path
    - hostPath:
        path: /sys/kernel/debug
        type: Directory
      name: sys-kernel-debug-path
    - hostPath:
        path: /etc/os-release
        type: File
      name: os-release-path
    - hostPath:
        path: /etc/apparmor.d
        type: DirectoryOrCreate
      name: etc-apparmor-d-path
    - hostPath:
        path: /run/k0s/containerd.sock
        type: Socket
      name: containerd-sock-path

  volumesK3s:
    - hostPath:
        path: /usr/src
        type: Directory
      name: usr-src-path
    - hostPath:
        path: /lib/modules
        type: Directory
      name: lib-modules-path
    - hostPath:
        path: /sys/fs/bpf
        type: Directory
      name: sys-fs-bpf-path
    - hostPath:
        path: /sys/kernel/security
        type: Directory
      name: sys-kernel-security-path
    - hostPath:
        path: /sys/kernel/debug
        type: Directory
      name: sys-kernel-debug-path
    - hostPath:
        path: /etc/os-release
        type: File
      name: os-release-path
    - hostPath:
        path: /etc/apparmor.d
        type: DirectoryOrCreate
      name: etc-apparmor-d-path
    - hostPath:
        path: /run/k3s/containerd/containerd.sock
        type: Socket
      name: containerd-sock-path

  volumesMinikube:
    - hostPath:
        path: /usr/src
        type: Directory
      name: usr-src-path
    - hostPath:
        path: /lib/modules
        type: DirectoryOrCreate
      name: lib-modules-path
    - hostPath:
        path: /sys/fs/bpf
        type: Directory
      name: sys-fs-bpf-path
    - hostPath:
        path: /sys/kernel/security
        type: Directory
      name: sys-kernel-security-path
    - hostPath:
        path: /sys/kernel/debug
        type: Directory
      name: sys-kernel-debug-path
    - hostPath:
        path: /etc/os-release
        type: File
      name: os-release-path
    - hostPath:
        path: /etc/apparmor.d
        type: DirectoryOrCreate
      name: etc-apparmor-d-path
    - hostPath:
        path: /var/run/docker.sock
        type: Socket
      name: docker-sock-path

  volumesGKE:
    - hostPath:
        path: /usr
        type: Directory
      name: usr-src-path
    - hostPath:
        path: /lib/modules
        type: DirectoryOrCreate
      name: lib-modules-path
    - hostPath:
        path: /sys/fs/bpf
        type: Directory
      name: sys-fs-bpf-path
    - hostPath:
        path: /sys/kernel/security
        type: Directory
      name: sys-kernel-security-path
    - hostPath:
        path: /sys/kernel/debug
        type: Directory
      name: sys-kernel-debug-path
    - hostPath:
        path: /etc/os-release
        type: File
      name: os-release-path
    - hostPath:
        path: /etc/apparmor.d
        type: DirectoryOrCreate
      name: etc-apparmor-d-path
    - hostPath:
        path: /var/run/containerd/containerd.sock
        type: Socket
      name: containerd-sock-path

  volumesBottleRocket:
    - hostPath:
        path: /lib/modules
        type: DirectoryOrCreate
      name: lib-modules-path
    - hostPath:
        path: /sys/fs/bpf
        type: Directory
      name: sys-fs-bpf-path
    - hostPath:
        path: /sys/kernel/security
        type: Directory
      name: sys-kernel-security-path
    - hostPath:
        path: /sys/kernel/debug
        type: Directory
      name: sys-kernel-debug-path
    - hostPath:
        path: /etc/os-release
        type: File
      name: os-release-path
    - hostPath:
        path: /usr/src
        type: Directory
      name: usr-src-path
    - hostPath:
        path: /etc/apparmor.d
        type: DirectoryOrCreate
      name: etc-apparmor-d-path
    - hostPath:
        path: /var/run/containerd/container.sock
        type: Socket
      name: containerd-sock-path

  volumesEKS:
    - hostPath:
        path: /lib/modules
        type: DirectoryOrCreate
      name: lib-modules-path
    - hostPath:
        path: /sys/fs/bpf
        type: Directory
      name: sys-fs-bpf-path
    - hostPath:
        path: /sys/kernel/security
        type: Directory
      name: sys-kernel-security-path
    - hostPath:
        path: /sys/kernel/debug
        type: Directory
      name: sys-kernel-debug-path
    - hostPath:
        path: /etc/os-release
        type: File
      name: os-release-path
    - hostPath:
        path: /usr/src
        type: Directory
      name: usr-src-path
    - hostPath:
        path: /etc/apparmor.d
        type: DirectoryOrCreate
      name: etc-apparmor-d-path
    - hostPath:
        path: /var/run/containerd/containerd.sock
        type: Socket
      name: containerd-sock-path
