# Default values for kubearmor.
# Declare variables to be passed into your templates.

environment:
  # The target environment to install KubeArmor in. Possible values: generic, GKE, EKS, BottleRocket, k3s, minikube, microk8s
  name: generic

kubearmorRelay:
  # to enable/disable kubearmor-relay
  enabled: true
  image:
    # kubearmor-init image repo
    repository: kubearmor/kubearmor-relay-server
    # kubearmor-init image tag
    tag: latest
  # kubearmor-init imagePullPolicy
  imagePullPolicy: Always

kubearmorInit:
  image:
    # kubearmor-init image repo
    repository: kubearmor/kubearmor-init
    # kubearmor-init image tag
    tag: stable
  # kubearmor-init imagePullPolicy
  imagePullPolicy: Always

kubeRbacProxy:
  image:
    # kube-rbac-proxy image repo
    repository: gcr.io/kubebuilder/kube-rbac-proxy
    # kube-rbac-proxy image tag
    tag: v0.12.0
  # kube-rbac-proxy imagePullPolicy
  imagePullPolicy: Always

kubearmorController:
  name: kubearmor-controller
  # kubearmor-controller replicas
  replicas: 1
  image:
    # kubearmor-controller image repo
    repository: kubearmor/kubearmor-controller
    # kubearmor-controller image tag
    tag: latest
  mutation:
    # kubearmor-controller failure policy
    failurePolicy: Ignore
  # kubearmor-controller imagePullPolicy
  imagePullPolicy: Always

kubearmorConfigMap:
  defaultFilePosture: audit
  defaultCapabilitiesPosture: audit
  defaultNetworkPosture: audit
  visibility: process,file,network

#volume mounts and volumes
kubearmor:
  image:
    # kubearmor daemonset image repo
    repository: kubearmor/kubearmor
    # kubearmor daemonset image tag
    tag: stable

  # kubearmor daemonset imagePullPolicy
  imagePullPolicy: Always

  # kubearmor daemonset arguments. See `kubearmor --help`
  args: []

  capabilities:
    add:
    - SETUID
    - SETGID
    - SETPCAP
    - SYS_ADMIN
    - SYS_PTRACE
    - MAC_ADMIN
    - SYS_RESOURCE
    - IPC_LOCK
    - CAP_DAC_OVERRIDE
    - CAP_DAC_READ_SEARCH
    drop:
    - ALL

  commonMounts:
  - mountPath: /opt/kubearmor/BPF
    name: bpf

  commonVolumes:
  - emptyDir: {}
    name: bpf

  initMounts:
  - mountPath: /opt/kubearmor/BPF
    name: bpf
  - mountPath: /lib/modules
    name: lib-modules-path
    readOnly: true
  - mountPath: /sys/fs/bpf
    name: sys-fs-bpf-path
  - mountPath: /sys/kernel/security
    name: sys-kernel-security-path
  - mountPath: /sys/kernel/debug
    name: sys-kernel-debug-path
  - mountPath: /media/root/etc/os-release
    name: os-release-path
    readOnly: true
  - mountPath: /usr/src
    name: usr-src-path
    readOnly: true

  volumeMountsGeneric:
    - mountPath: /usr/src
      name: usr-src-path
      readOnly: true
    - mountPath: /lib/modules
      name: lib-modules-path
      readOnly: true
    - mountPath: /sys/fs/bpf
      name: sys-fs-bpf-path
    - mountPath: /sys/kernel/security
      name: sys-kernel-security-path
    - mountPath: /sys/kernel/debug
      name: sys-kernel-debug-path
    - mountPath: /media/root/etc/os-release
      name: os-release-path
      readOnly: true
    - mountPath: /etc/apparmor.d
      name: etc-apparmor-d-path
    - mountPath: /var/run/containerd/containerd.sock
      name: containerd-sock-path
      readOnly: true
    - mountPath: /run/containerd
      mountPropagation: HostToContainer
      name: containerd-storage-path
      readOnly: true
    - mountPath: /var/lib/docker
      mountPropagation: HostToContainer
      name: docker-storage-path
      readOnly: true

  volumeMountsDocker:
    - mountPath: /usr/src
      name: usr-src-path
      readOnly: true
    - mountPath: /lib/modules
      name: lib-modules-path
      readOnly: true
    - mountPath: /sys/fs/bpf
      name: sys-fs-bpf-path
    - mountPath: /sys/kernel/security
      name: sys-kernel-security-path
    - mountPath: /sys/kernel/debug
      name: sys-kernel-debug-path
    - mountPath: /media/root/etc/os-release
      name: os-release-path
      readOnly: true
    - mountPath: /etc/apparmor.d
      name: etc-apparmor-d-path
    - mountPath: /var/run/docker.sock
      name: docker-sock-path
      readOnly: true
    - mountPath: /var/lib/docker
      mountPropagation: HostToContainer
      name: docker-storage-path
      readOnly: true

  volumeMountsCRIO:
    - mountPath: /usr/src
      name: usr-src-path
      readOnly: true
    - mountPath: /lib/modules
      name: lib-modules-path
      readOnly: true
    - mountPath: /sys/fs/bpf
      name: sys-fs-bpf-path
    - mountPath: /sys/kernel/security
      name: sys-kernel-security-path
    - mountPath: /sys/kernel/debug
      name: sys-kernel-debug-path
    - mountPath: /media/root/etc/os-release
      name: os-release-path
      readOnly: true
    - mountPath: /etc/apparmor.d
      name: etc-apparmor-d-path
    - mountPath: /var/run/crio/crio.sock
      name: crio-sock-path
      readOnly: true
    - mountPath: /var/lib/containers/storage
      mountPropagation: HostToContainer
      name: crio-storage-path
      readOnly: true

  volumeMountsMicroK8s:
    - mountPath: /usr/src
      name: usr-src-path
      readOnly: true
    - mountPath: /lib/modules
      name: lib-modules-path
      readOnly: true
    - mountPath: /sys/fs/bpf
      name: sys-fs-bpf-path
    - mountPath: /sys/kernel/security
      name: sys-kernel-security-path
    - mountPath: /sys/kernel/debug
      name: sys-kernel-debug-path
    - mountPath: /media/root/etc/os-release
      name: os-release-path
      readOnly: true
    - mountPath: /etc/apparmor.d
      name: etc-apparmor-d-path
    - mountPath: /var/snap/microk8s/common/run/containerd.sock
      name: containerd-sock-path
      readOnly: true
    - mountPath: /run/containerd
      mountPropagation: HostToContainer
      name: containerd-storage-path
      readOnly: true

  volumeMountsK3s:
    - mountPath: /usr/src
      name: usr-src-path
      readOnly: true
    - mountPath: /lib/modules
      name: lib-modules-path
      readOnly: true
    - mountPath: /sys/fs/bpf
      name: sys-fs-bpf-path
    - mountPath: /sys/kernel/security
      name: sys-kernel-security-path
    - mountPath: /sys/kernel/debug
      name: sys-kernel-debug-path
    - mountPath: /media/root/etc/os-release
      name: os-release-path
      readOnly: true
    - mountPath: /etc/apparmor.d
      name: etc-apparmor-d-path
    - mountPath: /var/run/containerd/containerd.sock
      name: containerd-sock-path
      readOnly: true
    - mountPath: /run/containerd
      mountPropagation: HostToContainer
      name: containerd-storage-path
      readOnly: true

  volumeMountsMinikube:
    - mountPath: /usr/src
      name: usr-src-path
      readOnly: true
    - mountPath: /lib/modules
      name: lib-modules-path
      readOnly: true
    - mountPath: /sys/fs/bpf
      name: sys-fs-bpf-path
    - mountPath: /sys/kernel/security
      name: sys-kernel-security-path
    - mountPath: /sys/kernel/debug
      name: sys-kernel-debug-path
    - mountPath: /media/root/etc/os-release
      name: os-release-path
      readOnly: true
    - mountPath: /etc/apparmor.d
      name: etc-apparmor-d-path
    - mountPath: /var/run/docker.sock
      name: docker-sock-path

  volumeMountsGKE:
    - mountPath: /lib/modules
      name: lib-modules-path
      readOnly: true
    - mountPath: /sys/fs/bpf
      name: sys-fs-bpf-path
    - mountPath: /sys/kernel/security
      name: sys-kernel-security-path
    - mountPath: /sys/kernel/debug
      name: sys-kernel-debug-path
    - mountPath: /media/root/etc/os-release
      name: os-release-path
      readOnly: true
    - mountPath: /media/root/usr
      name: usr-src-path
      readOnly: true
    - mountPath: /etc/apparmor.d
      name: etc-apparmor-d-path
    - mountPath: /var/run/containerd/containerd.sock
      name: containerd-sock-path
      readOnly: true
    - mountPath: /run/containerd
      mountPropagation: HostToContainer
      name: containerd-storage-path
      readOnly: true
    - mountPath: /var/lib/docker
      mountPropagation: HostToContainer
      name: docker-storage-path
      readOnly: true

  volumeMountsBottleRocket:
    - mountPath: /lib/modules
      name: lib-modules-path
      readOnly: true
    - mountPath: /sys/fs/bpf
      name: sys-fs-bpf-path
    - mountPath: /sys/kernel/security
      name: sys-kernel-security-path
    - mountPath: /sys/kernel/debug
      name: sys-kernel-debug-path
    - mountPath: /media/root/etc/os-release
      name: os-release-path
      readOnly: true
    - mountPath: /usr/src
      name: usr-src-path
      readOnly: true
    - mountPath: /etc/apparmor.d
      name: etc-apparmor-d-path
    - mountPath: /run/dockershim.sock
      name: containerd-sock-path
      readOnly: true
    - mountPath: /run/containerd
      mountPropagation: HostToContainer
      name: containerd-storage-path
      readOnly: true
    - mountPath: /var/lib/docker
      mountPropagation: HostToContainer
      name: docker-storage-path
      readOnly: true

  volumeMountsEKS:
    - mountPath: /lib/modules
      name: lib-modules-path
      readOnly: true
    - mountPath: /sys/fs/bpf
      name: sys-fs-bpf-path
    - mountPath: /sys/kernel/security
      name: sys-kernel-security-path
    - mountPath: /sys/kernel/debug
      name: sys-kernel-debug-path
    - mountPath: /media/root/etc/os-release
      name: os-release-path
      readOnly: true
    - mountPath: /usr/src
      name: usr-src-path
      readOnly: true
    - mountPath: /etc/apparmor.d
      name: etc-apparmor-d-path
    - mountPath: /var/run/containerd/containerd.sock
      name: containerd-sock-path
      readOnly: true
    - mountPath: /run/containerd
      mountPropagation: HostToContainer
      name: containerd-storage-path
      readOnly: true
    - mountPath: /var/lib/docker
      mountPropagation: HostToContainer
      name: docker-storage-path
      readOnly: true

  volumesGeneric:
    - hostPath:
        path: /usr/src
        type: Directory
      name: usr-src-path
    - hostPath:
        path: /lib/modules
        type: DirectoryOrCreate
      name: lib-modules-path
    - hostPath:
        path: /sys/fs/bpf
        type: Directory
      name: sys-fs-bpf-path
    - hostPath:
        path: /sys/kernel/security
        type: Directory
      name: sys-kernel-security-path
    - hostPath:
        path: /sys/kernel/debug
        type: Directory
      name: sys-kernel-debug-path
    - hostPath:
        path: /etc/os-release
        type: File
      name: os-release-path
    - hostPath:
        path: /etc/apparmor.d
        type: DirectoryOrCreate
      name: etc-apparmor-d-path
    - hostPath:
        path: /var/run/containerd/containerd.sock
        type: Socket
      name: containerd-sock-path
    - hostPath:
        path: /run/containerd
        type: DirectoryOrCreate
      name: containerd-storage-path
    - hostPath:
        path: /var/lib/docker
        type: DirectoryOrCreate
      name: docker-storage-path

  volumesDocker:
    - hostPath:
        path: /usr/src
        type: Directory
      name: usr-src-path
    - hostPath:
        path: /lib/modules
        type: DirectoryOrCreate
      name: lib-modules-path
    - hostPath:
        path: /sys/fs/bpf
        type: Directory
      name: sys-fs-bpf-path
    - hostPath:
        path: /sys/kernel/security
        type: Directory
      name: sys-kernel-security-path
    - hostPath:
        path: /sys/kernel/debug
        type: Directory
      name: sys-kernel-debug-path
    - hostPath:
        path: /etc/os-release
        type: File
      name: os-release-path
    - hostPath:
        path: /etc/apparmor.d
        type: DirectoryOrCreate
      name: etc-apparmor-d-path
    - hostPath:
        path: /var/run/docker.sock
        type: Socket
      name: docker-sock-path
    - hostPath:
        path: /var/lib/docker
        type: DirectoryOrCreate
      name: docker-storage-path

  volumesCRIO:
    - hostPath:
        path: /usr/src
        type: Directory
      name: usr-src-path
    - hostPath:
        path: /lib/modules
        type: DirectoryOrCreate
      name: lib-modules-path
    - hostPath:
        path: /sys/fs/bpf
        type: Directory
      name: sys-fs-bpf-path
    - hostPath:
        path: /sys/kernel/security
        type: Directory
      name: sys-kernel-security-path
    - hostPath:
        path: /sys/kernel/debug
        type: Directory
      name: sys-kernel-debug-path
    - hostPath:
        path: /etc/os-release
        type: File
      name: os-release-path
    - hostPath:
        path: /etc/apparmor.d
        type: DirectoryOrCreate
      name: etc-apparmor-d-path
    - hostPath:
        path: /var/run/crio/crio.sock
        type: Socket
      name: crio-sock-path
    - hostPath:
        path: /var/lib/containers/storage
        type: DirectoryOrCreate
      name: crio-storage-path

  volumesMicroK8s:
    - hostPath:
        path: /usr/src
        type: Directory
      name: usr-src-path
    - hostPath:
        path: /lib/modules
        type: DirectoryOrCreate
      name: lib-modules-path
    - hostPath:
        path: /sys/fs/bpf
        type: Directory
      name: sys-fs-bpf-path
    - hostPath:
        path: /sys/kernel/security
        type: Directory
      name: sys-kernel-security-path
    - hostPath:
        path: /sys/kernel/debug
        type: Directory
      name: sys-kernel-debug-path
    - hostPath:
        path: /etc/os-release
        type: File
      name: os-release-path
    - hostPath:
        path: /etc/apparmor.d
        type: DirectoryOrCreate
      name: etc-apparmor-d-path
    - hostPath:
        path: /var/snap/microk8s/common/run/containerd.sock
        type: Socket
      name: containerd-sock-path
    - hostPath:
        path: /var/snap/microk8s/common/run/containerd
        type: DirectoryOrCreate
      name: containerd-storage-path

  volumesK3s:
    - hostPath:
        path: /usr/src
        type: Directory
      name: usr-src-path
    - hostPath:
        path: /lib/modules
        type: Directory
      name: lib-modules-path
    - hostPath:
        path: /sys/fs/bpf
        type: Directory
      name: sys-fs-bpf-path
    - hostPath:
        path: /sys/kernel/security
        type: Directory
      name: sys-kernel-security-path
    - hostPath:
        path: /sys/kernel/debug
        type: Directory
      name: sys-kernel-debug-path
    - hostPath:
        path: /etc/os-release
        type: File
      name: os-release-path
    - hostPath:
        path: /etc/apparmor.d
        type: DirectoryOrCreate
      name: etc-apparmor-d-path
    - hostPath:
        path: /run/k3s/containerd/containerd.sock
        type: Socket
      name: containerd-sock-path
    - hostPath:
        path: /run/k3s/containerd
        type: DirectoryOrCreate
      name: containerd-storage-path

  volumesMinikube:
    - hostPath:
        path: /usr/src
        type: Directory
      name: usr-src-path
    - hostPath:
        path: /lib/modules
        type: DirectoryOrCreate
      name: lib-modules-path
    - hostPath:
        path: /sys/fs/bpf
        type: Directory
      name: sys-fs-bpf-path
    - hostPath:
        path: /sys/kernel/security
        type: Directory
      name: sys-kernel-security-path
    - hostPath:
        path: /sys/kernel/debug
        type: Directory
      name: sys-kernel-debug-path
    - hostPath:
        path: /etc/os-release
        type: File
      name: os-release-path
    - hostPath:
        path: /etc/apparmor.d
        type: DirectoryOrCreate
      name: etc-apparmor-d-path
    - hostPath:
        path: /var/run/docker.sock
        type: Socket
      name: docker-sock-path
    - hostPath:
        path: /var/lib/docker
        type: DirectoryOrCreate
      name: docker-storage-path

  volumesGKE:
    - hostPath:
        path: /usr
        type: Directory
      name: usr-src-path
    - hostPath:
        path: /lib/modules
        type: DirectoryOrCreate
      name: lib-modules-path
    - hostPath:
        path: /sys/fs/bpf
        type: Directory
      name: sys-fs-bpf-path
    - hostPath:
        path: /sys/kernel/security
        type: Directory
      name: sys-kernel-security-path
    - hostPath:
        path: /sys/kernel/debug
        type: Directory
      name: sys-kernel-debug-path
    - hostPath:
        path: /etc/os-release
        type: File
      name: os-release-path
    - hostPath:
        path: /etc/apparmor.d
        type: DirectoryOrCreate
      name: etc-apparmor-d-path
    - hostPath:
        path: /var/run/containerd/containerd.sock
        type: Socket
      name: containerd-sock-path
    - hostPath:
        path: /run/containerd
        type: DirectoryOrCreate
      name: containerd-storage-path
    - hostPath:
        path: /var/lib/docker
        type: DirectoryOrCreate
      name: docker-storage-path

  volumesBottleRocket:
    - hostPath:
        path: /lib/modules
        type: DirectoryOrCreate
      name: lib-modules-path
    - hostPath:
        path: /sys/fs/bpf
        type: Directory
      name: sys-fs-bpf-path
    - hostPath:
        path: /sys/kernel/security
        type: Directory
      name: sys-kernel-security-path
    - hostPath:
        path: /sys/kernel/debug
        type: Directory
      name: sys-kernel-debug-path
    - hostPath:
        path: /etc/os-release
        type: File
      name: os-release-path
    - hostPath:
        path: /usr/src
        type: Directory
      name: usr-src-path
    - hostPath:
        path: /etc/apparmor.d
        type: DirectoryOrCreate
      name: etc-apparmor-d-path
    - hostPath:
        path: /run/dockershim.sock
        type: Socket
      name: containerd-sock-path
    - hostPath:
        path: /run/containerd
        type: DirectoryOrCreate
      name: containerd-storage-path
    - hostPath:
        path: /var/lib/docker
        type: DirectoryOrCreate
      name: docker-storage-path

  volumesEKS:
    - hostPath:
        path: /lib/modules
        type: DirectoryOrCreate
      name: lib-modules-path
    - hostPath:
        path: /sys/fs/bpf
        type: Directory
      name: sys-fs-bpf-path
    - hostPath:
        path: /sys/kernel/security
        type: Directory
      name: sys-kernel-security-path
    - hostPath:
        path: /sys/kernel/debug
        type: Directory
      name: sys-kernel-debug-path
    - hostPath:
        path: /etc/os-release
        type: File
      name: os-release-path
    - hostPath:
        path: /usr/src
        type: Directory
      name: usr-src-path
    - hostPath:
        path: /etc/apparmor.d
        type: DirectoryOrCreate
      name: etc-apparmor-d-path
    - hostPath:
        path: /var/run/containerd/containerd.sock
        type: Socket
      name: containerd-sock-path
    - hostPath:
        path: /run/containerd
        type: DirectoryOrCreate
      name: containerd-storage-path
    - hostPath:
        path: /var/lib/docker
        type: DirectoryOrCreate
      name: docker-storage-path
