apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.kubearmorOperator.name }}
  namespace: {{ .Release.Namespace }}
  labels:
    kubearmor-app: {{ .Values.kubearmorOperator.name }}
spec:
  selector:
    matchLabels:
      kubearmor-app: {{ .Values.kubearmorOperator.name }}
  template:
    metadata:
      labels:
        kubearmor-app: {{ .Values.kubearmorOperator.name }}
    spec:
      containers:
      - name: {{ .Values.kubearmorOperator.name }}
        env:
        - name: KUBEARMOR_OPERATOR_NS
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        {{- if .Values.imagePinning -}}
          {{ include "pinnedImages" .Values.oci_meta | trim | nindent 8 }}
        {{- end }}
        image: {{ include "operatorImage" . }}
        imagePullPolicy: {{ .Values.kubearmorOperator.imagePullPolicy }}
        
        {{- $tag := (split ":" (include "operatorImage" .))._1 -}}
        {{- if or (eq $tag "latest") (and (hasPrefix "v" $tag) (semverCompare "^1.4.0" $tag)) }}
        # initDeploy flag is only supported from v1.4.0
        args:
        {{- if .Values.kubearmorOperator.args -}}
        {{- toYaml .Values.kubearmorOperator.args | trim | nindent 8 }}
        {{- end }}
        {{- end }}

      serviceAccountName: {{ .Values.kubearmorOperator.name }}
  
