apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.kubearmorOperator.name }}
  namespace: {{ .Release.Namespace }}
  labels:
    kubearmor-app: {{ .Values.kubearmorOperator.name }}
spec:
  selector:
    matchLabels:
      kubearmor-app: {{ .Values.kubearmorOperator.name }}
  template:
    metadata:
      labels:
        kubearmor-app: {{ .Values.kubearmorOperator.name }}
      {{- with .Values.kubearmorOperator.podLabels }}
        {{- . | toYaml | nindent 8 }}
      {{- end }}
      {{- with .Values.kubearmorOperator.podAnnotations }}
      annotations:
        {{- . | toYaml | nindent 8 }}
      {{- end }}
    spec:
      {{- with .Values.kubearmorOperator.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}      
      {{- if .Values.kubearmorOperator.image.imagePullSecrets }}
      imagePullSecrets:
      {{- toYaml .Values.kubearmorOperator.image.imagePullSecrets | nindent 8 }}

      {{- else if .Values.global.registry.secretName }}
      imagePullSecrets:
        - name: {{ .Values.global.registry.secretName }}
      {{- end }}
      {{- if .Values.kubearmorOperator.tolerations }}
      tolerations: 
        {{- toYaml .Values.kubearmorOperator.tolerations | nindent 8 }}
      {{- end }}
      {{- if .Values.kubearmorOperator.nodeSelector }}
      nodeSelector: 
        {{- .Values.kubearmorOperator.nodeSelector | toYaml | nindent 8}}
      {{- end }}
      containers:
      - name: {{ .Values.kubearmorOperator.name }}
        env:
        - name: KUBEARMOR_OPERATOR_NS
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        {{- if .Values.kubearmorOperator.enableOCIHooks }}
        - name: KUBEARMOR_OCI_HOOKS
          value: "yes"
        {{- end }}
        {{- if .Values.global.imagePinning -}}
          {{- include "pinnedImages" .Values.global.kubearmor | trim | nindent 8 }}
        {{- end }}
        {{- if .Values.kubearmorOperator.env -}}
          {{- .Values.kubearmorOperator.env | toYaml | nindent 8 }}
        {{- end }}
        image: {{ include "operatorImage" . }}
        imagePullPolicy: {{ .Values.kubearmorOperator.imagePullPolicy }}
        args:
        - --annotateExisting={{ .Values.kubearmorOperator.annotateExisting }}
        - --annotateResource={{ .Values.kubearmorOperator.annotateResource }}
        {{- if .Values.kubearmorOperator.image.imagePullSecrets }}
        - --image-pull-secrets={{ .Values.kubearmorOperator.image.imagePullSecrets | toJson }}

        {{- else if .Values.global.registry.secretName }}
        - --image-pull-secrets={{ list (dict "name" .Values.global.registry.secretName) | toJson }}
        {{- end }}
        {{- if .Values.kubearmorOperator.args -}}
          {{- toYaml .Values.kubearmorOperator.args | trim | nindent 8 }}
        {{- end }}
        {{- with .Values.kubearmorOperator.securityContext }}
        securityContext:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        {{- with .Values.kubearmorOperator.resources }}
        resources:
          {{- toYaml . | nindent 10 }}
        {{- end }}
      serviceAccountName: {{ .Values.kubearmorOperator.name }}
  
