apiVersion: v1
data:
  defaultFilePosture: {{ .Values.kubearmorConfigMap.defaultFilePosture | quote }}
  defaultCapabilitiesPosture: {{ .Values.kubearmorConfigMap.defaultCapabilitiesPosture | quote }}
  defaultNetworkPosture: {{ .Values.kubearmorConfigMap.defaultNetworkPosture | quote }}
  visibility: {{ .Values.kubearmorConfigMap.visibility | quote }}
  alertThrottling: {{ .Values.kubearmorConfigMap.alertThrottling | quote }}
  maxAlertPerSec: {{ .Values.kubearmorConfigMap.maxAlertPerSec | quote }}
  throttleSec: {{ .Values.kubearmorConfigMap.throttleSec | quote }}
  matchArgs: {{ .Values.kubearmorConfigMap.matchArgs | quote }}

  
kind: ConfigMap
metadata:
  labels:
    kubearmor-app: kubearmor-configmap
  name: kubearmor-config
  namespace: {{ .Release.Namespace }}
