on:
  push:
    # Sequence of patterns matched against refs/tags
    branches:
      - 'main'

name: Latest version release after testing KubeArmor image

jobs:
  build:
    name: Create KubeArmor Release - 18.04
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout KubeArmor code
        uses: actions/checkout@v2

      - name: Generate KubeArmor artifacts
        run: GITHUB_SHA=$GITHUB_SHA ./KubeArmor/build/build_kubearmor.sh

      - name: Setup Enviroment
        run: |        
          ./contribution/k3s/install_k3s.sh

      - name: Run KubeArmor 
        run: |
          kubectl apply -f KubeArmor/build/kubearmor-test-k3s.yaml
          while [[ $(kubectl get pods -l kubearmor-app=kubearmor -n kube-system -o 'jsonpath={..status.conditions[?(@.type=="Ready")].status}') != "True" ]]; do echo "waiting for pod" && sleep 1; done
          kubectl get pods -A

      - name: Run KubeArmor tests
        run: |
          ./tests/test-scenarios-github.sh

      - name: Archive log artifacts
        if: ${{ failure() }}
        uses: actions/upload-artifact@v2
        with:
          name: kubearmor.logs
          path: |
            /tmp/kubearmor.test
            /tmp/kubearmor.log
            /tmp/kubearmor.msg
      
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_AUTHTOK }}

      - name: Push KubeArmor images to Docker
        run: ./KubeArmor/build/push_kubearmor.sh
